<h2>Game {{gameId}} details</h2>
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    <tr *ngFor="let player of gameDetails.playersList">
        <td>{{player.name}}</td>
        <td>{{getTypeRole(player.role)}}</td>
        <td>
            <div *ngFor="let card of player.playerCards">
                {{card.name}} {{card.suit}} {{card.value}}
            </div>
            <br />
        </td>
        <td>
            {{player.cardSum}}
        </td>
        <td>
            {{getTypeResult(player.result)}}
        </td>
    </tr>
    <tr>
        <td>{{gameDetails.dealerPlayer.name}}</td>
        <td>{{getTypeRole(gameDetails.dealerPlayer.role)}}</td>
        <td>
            <div *ngFor="let card of gameDetails.dealerPlayer.playerCards">
                {{card.name}} {{card.suit}} {{card.value}}
            </div>
            <br />
        </td>
        <td>
            {{gameDetails.dealerPlayer.cardSum}}
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br />
<button kendoButton (click)="openHistory()">Return history</button>