<h2>End of Game</h2>
<h2>Result</h2>
<table class="table1">
    <tr><th>Name </th><th>Role </th><th>Cards </th><th>Total points </th><th>Status </th></tr>
    <tr *ngFor="let player of endGameInfo.playersList">
        <td>{{player.name}}</td>
        <td>{{getTypeRole(player.role)}}</td>
        <td>
            <div *ngFor="let card of player.playerCards">
                {{card.name}} {{card.suit}} {{card.value}}
            </div>
            <br />
        </td>
        <td>
            {{player.cardSum}}
        </td>
        <td>
            {{getTypeResult(player.result)}}
        </td>
    </tr>
    <tr>
        <td>{{endGameInfo.dealerPlayer.name}}</td>
        <td>{{getTypeRole(endGameInfo.dealerPlayer.role)}}</td>
        <td>
            <div *ngFor="let card of endGameInfo.dealerPlayer.playerCards">
                {{card.name}} {{card.suit}} {{card.value}}
            </div>
            <br />
        </td>
        <td>
            {{endGameInfo.dealerPlayer.cardSum}}
        </td>
        <td>
            -
        </td>
    </tr>
</table>
<br />
<button kendoButton (click)="startNewGame()">Start new game</button>
<br />
<br />
<button kendoButton (click)="openHistory()">View history</button>