@using BlackJack.ViewModels.HistoryViewModel
@model AllGamesHistoryView
@{
    ViewBag.Title = "AllGames";
}
<center>
    <h2>All Games</h2>
</center>
<center>
    <div id="allGames" style="width:500px"></div>
</center>
<br />
<br />
<center>
    @using (Html.BeginForm("Start", "Game", FormMethod.Post))
    {
        <div id="button_block">
            <button id="button_start_new_game" type="submit">Start new game</button>
        </div>
    }
</center>
<script>
    var data = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListGames)'.replace(/&quot;/g, "\""));
</script>
@Scripts.Render("~/bundles/jquery.min")
@Scripts.Render("~/bundles/kendo.all.min")
@Scripts.Render("~/bundles/History/AllGames")




